<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./libs/iconfont/material-icons.css">
    <link rel="stylesheet" href="./node_modules/angular-material-data-table/dist/md-data-table.css">
    <link rel="stylesheet" href="./dist/css/style.css">
    <title>iChronic 2</title>
  </head>
  <body ng-clock>

    <div layout="column" style="height: 100%;">
      <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')"
        md-disable-backdrop=""
        md-whiteframe="4"
        >

          <!--left toolbar-->
          <md-toolbar ng-controller="ToolbarCtrl" style="position:fixed;">
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" aria-label="More" ng-click="go('main')">
                <md-tooltip md-direction="right">
                  Home
                </md-tooltip>
                <md-icon class="material-icons">home</md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Connection Setting" ng-click="connectionSetting($event)">
                <md-tooltip md-direction="top">
                  Connection setting
                </md-tooltip>
                <md-icon class="material-icons">settings</md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="More" ng-click="exportData($event)">
                <md-tooltip md-direction="top">
                  Export Dataset
                </md-tooltip>
                <md-icon class="material-icons">cloud_upload</md-icon>
              </md-button>
              <div flex></div>
                <md-button class="md-icon-button" aria-label="Debug tools" ng-click="openDebug()">
                  <md-tooltip md-direction="left">
                    Open DevTools
                  </md-tooltip>
                  <md-icon class="material-icons">bug_report</md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Minimize" ng-click="minimize()">
                  <md-tooltip md-direction="left">
                    Minimize
                  </md-tooltip>
                  <md-icon class="material-icons">remove</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Close" ng-click="exitApp()">
                  <md-tooltip md-direction="left">
                    Exit
                  </md-tooltip>
                  <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
          </md-toolbar>

          <md-content ng-controller="AppCtrl" style="padding-top: 64px">

            <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
            <md-input-container  md-no-float class="md-block" style="margin:15px 2px 0 2px; padding: 0;">
              <input placeholder="ค้นหา" ng-model="query" ng-keypress="search($event)">
            </md-input-container>
            <md-subheader class="md-no-sticky">แสดง {{ person.length | number }} เรคคอร์ด</md-subheader>


            <md-list>
              <md-list-item class="md-2-line" ng-repeat="p in person" href="#/emr/{{ p.cid }}">
                <img src="./libs/img/avatar-man.png" class="md-avatar" ng-if="p.sex == '1'" />
                <img src="./libs/img/avatar-woman.png" class="md-avatar" ng-if="p.sex == '2'" />
                <div class="md-list-item-text" layout="column">
                  <h3>{{ p.pname }}{{ p.fname }} {{ p.lname }}</h3>
                  <p>{{ p.clinic }}</p>
                </div>
                <!--<md-icon class="material-icons md-primary">notifications_active</md-icon>-->
              </md-list-item>
            </md-list>


          </md-content>
        </md-sidenav>

        <!--Main Content-->
        <md-content
        layout="column"
        layout-fill
        layout-align="top center">
          <div layout="column"
          layout-fill>

            <!--Main toolbar -->
            <!--
            <md-toolbar class="md-hue-2" ng-controller="ToolbarCtrl" style="position:fixed;">
              <div class="md-toolbar-tools">
                <md-button
                class="md-icon-button" aria-label="Toggle"
                ng-click="toggleLeft()">
                  <md-icon class="material-icons">desktop_windows</md-icon>
                </md-button>
                <h2>
                  <span>iChronic 2 ({{ hospitalInfo.hospitalname }} - {{ hospitalInfo.hospitalcode }})</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Debug tools" ng-click="openDebug()">
                  <md-tooltip md-direction="left">
                    Open DevTools
                  </md-tooltip>
                  <md-icon class="material-icons">bug_report</md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Minimize" ng-click="minimize()">
                  <md-tooltip md-direction="left">
                    Minimize
                  </md-tooltip>
                  <md-icon class="material-icons">remove</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Close" ng-click="exitApp()">
                  <md-tooltip md-direction="left">
                    Exit
                  </md-tooltip>
                  <md-icon class="material-icons">close</md-icon>
                </md-button>

              </div>
            </md-toolbar>

            -->

            <ui-view></ui-view>

          </div>

        </md-content>

      </section>
    </div>

  <script src="./dist/js/index.js"></script>
  <script src="./dist/js/services/Calculator.js"></script>

  <script src="./dist/js/config/Configure.js"></script>
  <script src="./dist/js/config/Connection.js"></script>
  <script src="./dist/js/services/Person.js"></script>
  <script src="./dist/js/controllers/App.js"></script>
  <script src="./dist/js/controllers/Toolbar.js"></script>
  <script src="./dist/js/controllers/Main.js"></script>
  <script src="./dist/js/controllers/Emr.js"></script>
  <script src="./dist/js/services/LabFu.js"></script>
  <script src="./dist/js/services/ChronicFu.js"></script>
  <script src="./dist/js/services/Service.js"></script>
  <script src="./dist/js/services/Admission.js"></script>
  <script src="./dist/js/services/CommunityService.js"></script>

  <script src="./dist/js/services/Allergy.js"></script>

  <script src="./dist/js/controllers/dialogs/OpdEmr.js"></script>
  <script src="./dist/js/controllers/dialogs/IpdEmr.js"></script>
  <script src="./dist/js/controllers/dialogs/LabFu.js"></script>
  <script src="./dist/js/controllers/dialogs/ExportSmoking.js"></script>
  <script src="./dist/js/controllers/dialogs/DrugAllergy.js"></script>
  <script src="./dist/js/controllers/dialogs/Connection.js"></script>


  </body>
</html>
