<div layout="column" style="height:615px" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Close" ng-click="goHome()">
                <md-icon class="material-icons">keyboard_backspace</md-icon>
            </md-button>
            <h3>
                ประวัติการรับบริการ (EMR)
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close">
                <md-icon class="material-icons">person_pin</md-icon>
            </md-button>
            <!--<md-button class="md-icon-button" aria-label="Close" ng-click="close()">-->
                <!--<md-icon class="material-icons">home</md-icon>-->
            <!--</md-button>-->
            <!--<md-button class="md-icon-button" aria-label="Close" ng-click="close()">-->
                <!--<md-icon class="material-icons">visibility</md-icon>-->
            <!--</md-button>-->
            <!--<md-button class="md-icon-button" aria-label="Close" ng-click="close()">-->
                <!--<md-icon class="material-icons">colorize</md-icon>-->
            <!--</md-button>-->
            <md-menu>
            <md-button class="md-icon-button" aria-label="Close" ng-click="openMenu($mdOpenMenu, $event)">
                <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button>
                        <md-icon class="material-icons" md-menu-align-target>person_pin</md-icon>
                        ข้อมูลทั่วไป
                    </md-button>
                </md-menu-item>
                <!--<md-menu-item>-->
                    <!--<md-button>-->
                        <!--<md-icon class="material-icons" md-menu-align-target>person</md-icon>-->
                        <!--Redial-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button>
                        <md-icon class="material-icons" md-menu-align-target>home</md-icon>
                        ข้อมูลเยี่ยมบ้าน
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon class="material-icons" md-menu-align-target>visibility</md-icon>
                        ข้อมูลคัดกรอง
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon class="material-icons" md-menu-align-target>colorize</md-icon>
                        ผลตรวจทางห้องปฏิบัติการ
                    </md-button>
                </md-menu-item>
            </md-menu-content>
                </md-menu>
        </div>
    </md-toolbar>
    <md-content flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Dashboard">
                <md-tab-label>
                    <md-icon class="material-icons">poll</md-icon>
                    Dashboard
                </md-tab-label>
                <md-tab-body>
                    <div layout="column">
                        <div>
                            <highchart config="chartConfig"></highchart>
                        </div>
                        <div flex>
                            <highchart config="chartConfig"></highchart>
                        </div>
                    </div>
                </md-tab-body>

            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon class="material-icons">directions_walk</md-icon>
                    ผู้ป่วยนอก (OPD)
                </md-tab-label>
                <md-tab-body>
                    <md-content>
                        <md-table-container> 
                            <table md-table> 
                                <thead md-head> 
                                <tr md-row> 
                                    <th md-column>วันที่</th>
                                    <th md-column>เวลา</th>
                                    <th md-column>หน่วยบริการ</th>
                                    <th md-column>คลินิค</th>
                                    <th md-column></th>ฃ
                                </tr>
                                </thead>
                                <tbody md-body> 
                                <tr md-row> 
                                    <td md-cell>21/04/2559</td>
                                    <td md-cell>11:50</td>
                                    <td md-cell>รพ.สต.บ้านหนองอุ่ม (04958)</td>
                                    <td md-cell>แผนกผู้ป่วยนอก</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" aria-label="More" ng-click="edit(c.id)">
                                            <md-icon class="material-icons">search</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                <tr md-row> 
                                    <td md-cell>21/04/2559</td>
                                    <td md-cell>11:50</td>
                                    <td md-cell>รพ.สต.บ้านหนองอุ่ม (04958)</td>
                                    <td md-cell>แผนกผู้ป่วยนอก</td>
                                    <td md-cell>
                                        <md-button class="md-icon-button" aria-label="More" ng-click="edit(c.id)">
                                            <md-icon class="material-icons">search</md-icon>
                                        </md-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-content>
                </md-tab-body>

            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon class="material-icons">hotel</md-icon>
                    ผู้ป่วยใน (IPD)
                </md-tab-label>
                <md-tab-body>
                    Lorem
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon class="material-icons">cloud</md-icon>
                    cloud emr
                </md-tab-label>
                <md-tab-body>
                    Lorem
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
