<div layout="column" style="height:615px" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                Welcome to iChronic version 2
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close">
                <md-icon class="material-icons">person_pin</md-icon>
            </md-button>

        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        Welcome to iChronic version 2
    </md-content>
</div>
